@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background: url(https://source.unsplash.com/ZrXJrX3ggAc/1000x1700) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}
form {
    width: 500px;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(69,72,77,0.8) 0%, rgba(0,0,0,0.8) 100%); /*    FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(69,72,77,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(69,72,77,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 100px;
}

form h1 {
    font-size: 20px;
}

form h2 {
    font-size: 18px;
    font-weight: 400;
}

input {
    height: 50px;
    width: 380px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border:0;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    color: #333;
}

ul {
    margin:0;
    padding:0;
    margin-top: 30px;
}

li {
    list-style: none;
    background-color: #f8f8f8;
    color: #333;
    line-height: 50px;
    font-size: 20px;
    margin-bottom: 5px;
}

.population {
    color: #1EAE8A;
    font-size: 15px;
    margin-left: 30px;
}

.hl {
   color: #1EAE8A; 
}